* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    text-align: center;
    background-color: #023047;
    color: white;
    height: 5rem;
    line-height: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
}
h3{
    background-color: #023047;
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    background-color: #000000;
    cursor: pointer;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    margin-top: 5rem;
}

.score-board .score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#user-score,
#comp-score {
    font-size: 5rem;
}

.msg-container {
    margin-top: 5rem;

}

#msg {
    background-color: #023047;
    color: white;
    text-align: center;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}